@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
}

body {
    padding: 0px;
    margin: 0px;
}

header img {
    width: 10%;
}

header {
    padding: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: white;
}


body {
    background-image: url(images/bg-desktop.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: unset;
    background-color: var(--violet);
}

.main {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0px;
}

.main img {
    width: 105%;
    height: 100%;
}

.text p {
    margin-bottom: 60px;
}

.main a {
    border: none;
    text-decoration: none;
    width: 25%; 
    background-color: white;
    padding: 15px 45px;
    border-radius: 25px;
    color: var(--violet);
    box-shadow: 0px 0px 2px -1px black;
    transition: 0.4s ease-in-out;
}

.main a:hover {
    background-color: var(--magenta);
    color: white;
    cursor: pointer;
}
.text {
    padding-top: 40px;
    width: 65%;
    padding-left: 100px;
}

footer {
    position: absolute;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding-right: 30px;
    display: flex;
    top: 91%;
    right: 2%;
}

footer a {
    color: white;
    border: solid 1px white;
    margin-left: 20px;
    border-radius: 25px;
    padding: 9px;
    transition: 0.3s ease-in-out;
}

footer a:nth-child(1) {
    padding-right: 12px;
    padding-left: 12px;
}

footer a:hover {
    transform: scale(1.5);
}

@media (max-width: 900px) {
    header img {
        width: 35%;
        padding: 30px 20px;
    }
    body {
        background-image: url(images/bg-mobile.svg);
        background-position: top;
    }
    .main {
        display: grid;
        grid-template-rows: 0.75fr 1fr;
        grid-template-columns: 1fr;
        width: 90%; 
        margin: auto;
        padding: 0px;
    }
    .main img {
        width: 95%;
        height: auto;
    }

    .text {
        padding: 0px;
        width: 80%;
        margin: 0px;
    }

    h1 {
        padding: 0px;
        text-align: center;
    }

    p {
        text-align: center;
        width: 95%;
        margin-bottom: 25px !important;
    }

    .text {
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    br {
        display: none;
    }

    .main a {
        text-align: center;
     }

     footer {
         position: relative;
         margin-top: 25px;
         justify-content: center;
         margin-bottom: 30px;
         margin-left: 13px;
     }
}